
<div class="offer-details">
  <h4 class="pb-4">What Nebula Offers ?</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>50+</h2>
          <p>Arduino Components</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>12+</h2>
          <p>Active Stores</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>42+</h2>
          <p>Customers Retention Rate</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>99+</h2>
          <p>Customer Satisfaction Rate</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>15+</h2>
          <p>Different Categories </p>
        </div>
      </div>
    </div>
  </div>
</div>
