

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/B2b8RSzfgivu3v9nb/coming-soon-message-illuminated-with-light-projector-realistic-business-new-product-internet-promotion-splash-screen-with-moving-spotlight-available-in-4k-uhd-fullhd-and-hd-3d-video-animation-footage_r0yoc-qzg_thumbnail-180_01.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h3 class="display-5 fw-bold lh-1 mb-3">Meet the New
        Video Series</h3>
      <p class="lead">ElectroTech Explained" is an exciting and informative video series dedicated to empowering electronics enthusiasts, hobbyists, and professionals with the knowledge and skills to use electronic components correctly and adhere to industry-standard practices. Whether you're a beginner looking to embark on your electronic journey or an experienced practitioner aiming to refine your skills, this series will be your comprehensive guide.</p>
<!--      <div class="d-grid gap-2 d-md-flex justify-content-md-start">-->
<!--        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Components</button>-->
<!--        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>-->
<!--      </div>-->
    </div>
  </div>
</div>
