
<div class="website-details ">
  <h3 class="pb-4">Available Stores</h3>
  <div class="website-logo">
    <a href="https://sigma-electronic.com/">
      <img src="assets/IMG/sigma.png" alt="" srcset="" width="250px">
    </a>
    <a href="https://tronic.lk/">
      <img src="assets/IMG/tronic.jpg" alt="" srcset="" width="250px">
    </a>
    <a href="https://www.senith.lk/">
      <img src="assets/IMG/senith-logo.png" alt="" srcset="" width="250px">
    </a>
    <a href="https://senaelectronics88.business.site/">
      <img src="assets/IMG/sena.jpg" alt="" srcset="" width="250px">
    </a>
  </div>
</div>
