<div class="offer-details">
  <h3 class="pb-4">Meet our team</h3>
<!--  <h4 class="pb-4">What Nebula Offers </h4>-->
  <P class="pb-4">Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work. </P>
  <div class="row">
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <!--          <h2>50+</h2>-->
          <img src="assets/IMG/sahan.jpg" alt="project-image" class="rounded">
          <h4>Sahan Dankelewaththa</h4>
          <p>Backend Devoloper</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <!--          <h2>12+</h2>-->
          <img src="assets/IMG/hasini.jpg" alt="project-image" class="rounded">
          <h4>Hasini Bandara</h4>
          <p>DataBase Devoloper</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <!--          <h2>42+</h2>-->
          <img src="assets/IMG/tharuka.jpg" alt="project-image" class="rounded">
          <h4>Tharuka Ayeshani</h4>
          <p>Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <!--          <h2>99+</h2>-->
          <img src="assets/IMG/ishara.jpg" alt="project-image" class="rounded">
          <h4>Ishara Bandara</h4>
          <p>Quality Analatist</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <!--          <h2>15+</h2>-->
          <img src="assets/IMG/deneth.jpg" alt="" class="rounded" >
          <h4>Deneth Sachintha</h4>
          <p>Fontend Devoloper</p>
        </div>
      </div>
    </div>
  </div>
</div>


