<nav class="navbar bg-dark fixed-top navbar-expand-lg navbar-dark shadow-5-strong" data-bs-theme="dark" >
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">
      <img src="#" alt=""  class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/nebula">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/nebula/component">Component</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/nebula/about-us">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/nebula/contact-us">Contact US</a>
        </li>

      </ul>
    </div>
<!--    <a href="#">-->
<!--      <button class="btn btn-outline-warning" type="submit">Chat With AI</button>-->
<!--    </a>-->
  </div>
</nav>
